/* ! ==========PRESET========== */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cold: #f4f4fd;
  --white: #ffffff;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  max-width: 1188px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex-box {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
/** !============HEADER============ */
.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.logo-studio {
  color: var(--navy-blue);
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-address {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.header-contact-items {
  display: flex;
  align-items: center;
}
.header-contact-item {
  margin-right: 40px;
}
.header-tel {
  color: var(--slate);
}
.link-hover:focus,
.link-hover:hover {
  color: var(--ocean);
}
.header-conteiner {
  display: flex;
}
.section {
  padding: 120px 0;
}
/**  =============HERO============ --> */

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
.hero-main {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  /* padding: 16px 32px; */
  font-family: inherit;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--ocean);
}
/** ===========ABOUT US=========== --> */
.about-list {
  flex-wrap: nowrap;
}
.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 8px;
}
.about-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.about-item {
  flex-basis: calc((100% - 72) / 4);
}
/** ==========WHAT ARE WE DOING======== --> */
.examples {
  padding-top: 0;
}
.examples-items {
  flex-basis: calc((100% - 2 * 24) / 3);
}
.examples-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
/** =============OUR TEAM============== --> */
.team-section {
  background-color: var(--cold);
  /* padding: 120px 156px; */
}
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.team-item {
  flex-basis: calc((100% - 3 * 24) / 4);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 32px;
}
.team-position {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-soc-icons {
  width: 16px;
  height: 16px;
}
/**-- ================FOOTER=============== --> */
.footer-text {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--cornflower);
  max-width: 264px;
  height: 72px;
  margin-top: 16px;
}
.footer {
  background-color: var(--navy-blue);
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-web-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio-footer {
  color: var(--cold);
}
/*!```````````````P O R T F O L I O```````````````` */
.menu-gallery {
  padding-top: 96px;
  padding-right: 99px;
  justify-content: flex-end;
}
.gallery-btn {
  color: var(--iris);
  padding: 16px 32px;
  border: 1px solid;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--cold);
  font-family: inherit;
}
.gallery-btn:focus,
.gallery-btn:hover {
  color: var(--white);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-items {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}
.gallery-item {
  width: calc((100% - 48) / 3);
}
.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 32px;
}
.gallery-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.cards {
  padding-bottom: 30px;
  border: 1px solid var(--cornflower);
  background-color: var(--white);
  text-align: center;
  border-top: none;
}
